version: 2
updates:
  - package-ecosystem: "nuget"
    directory: "/"
    schedule:
      interval: "daily"
      time: "06:00"
      timezone: "Europe/London"
    labels:
      - ":game_die: dependencies"
      - ":robot: bot"
    open-pull-requests-limit: 10
    ignore:
      # Ignore Moq beyond 4.20 - see https://github.com/moq/moq/issues/1370
      - dependency-name: "Moq"
        versions: [">=4.20.0"]
      ## Preserve backward compatibility for library consumers
      - dependency-name: "FluentValidation"
      - dependency-name: "FluentValidation.DependencyInjectionExtensions"
      - dependency-name: "Microsoft.Azure.WebJobs.Extensions.OpenApi.Core"
      # Ignore packages that are for different .NET versions
      - dependency-name: "Microsoft.*"
        update-types: ["version-update:semver-major"]
      - dependency-name: "System.*"
        update-types: ["version-update:semver-major"]
    groups:
      Azure:
        patterns:
          - "Azure.*"
      FluentValidation:
        patterns:
          - "FluentValidation"
          - "FluentValidation.*"
      Microsoft.Azure.Functions:
        patterns:
          - "Microsoft.Azure.Functions.*"
      Microsoft.NET.Test:
        patterns:
          - "Microsoft.NET.Test.*"
      Microsoft:
        patterns:
          - "Microsoft.*"
      System:
        patterns:
          - "System.*"
      XUnit:
        patterns:
          - "xunit"
          - "xunit.*"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "02:00"
      timezone: "Europe/London"